/**
 * It's SCSS. No real description needed.
 */
/**
 * Material Design Styles
 * by Google
 */
/* Colour Pallette */
/* Shadows */
.shadow1, h2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.shadow2, .card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shadow3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shadow4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shadow5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

/* END OF MATERIAL DESIGN STYLES */
/* Other Variables */
/**
 * Animations
 */
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes nSpin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes growIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* END OF ANIMATIONS

/**
 * Actual Styling 
 */
html {
  border: 0;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 14pt; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px; }

h1 {
  color: #03A9F4; }

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #212121;
  padding: 5px 15px;
  background-color: #CFD8DC; }

h3 {
  font-family: inherit;
  color: inherit;
  margin: -5px 0 20px;
  font-size: 12pt; }

h4 {
  color: #03A9F4;
  font-weight: 400;
  font-size: 24pt;
  margin: 25px 15px 10px; }

p {
  margin: 10px 0; }

code {
  background-color: #CFD8DC; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #03A9F4; }

hr {
  width: 80%;
  margin: auto; }

header {
  padding: 70px 0 20px;
  display: block;
  margin: auto;
  color: #CFD8DC;
  background-color: #263238;
  font-family: 'Montserrat', sans-serif; }
  header h1 {
    margin-bottom: 5px;
    color: inherit; }
  header div {
    margin: auto;
    display: block;
    text-align: center; }

section {
  width: calc(100% - 20px);
  margin: auto; }

footer {
  width: calc(100% - 30px);
  background: #263238;
  color: #CFD8DC;
  padding: 30px 15px;
  margin-top: 30px;
  text-align: center; }
  footer hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #607D8B;
    margin-bottom: 10px; }
  footer .iconLinks {
    display: flex;
    justify-content: center; }
    footer .iconLinks i {
      margin: 20px 25px; }

.circle {
  border-radius: 50%; }

.hBar {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px 0;
  background-color: #CFD8DC; }

.card {
  border-radius: 2px;
  line-height: 0;
  display: flex;
  position: relative;
  margin: 20px 0; }
  .card .img {
    max-width: 50%;
    margin: 0;
    padding: 0; }
  .card .calligSpaceFill, .card .calligSpaceFillFlip {
    display: none;
    opacity: .4; }
  .card .calligSpaceFillFlip {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"; }
  .card img {
    max-width: 100%;
    width: auto;
    position: relative;
    display: block; }
  .card div {
    width: calc(100% - 50px);
    line-height: 1.5;
    display: block;
    padding: 25px;
    margin: auto; }

#contact .card ul {
  list-style-type: none;
  margin-top: 0; }

#rings {
  border-width: 0;
  display: inline-flex;
  line-height: 0;
  background-color: transparent; }

#cImg {
  width: 225px;
  height: 225px;
  overflow: hidden;
  border: solid 5px #03A9F4;
  justify-content: center; }
  #cImg img {
    max-width: 100%;
    width: auto; }

#cName {
  width: 500px;
  padding: 20px;
  display: block; }
  #cName ul {
    padding: 0 0 0 10px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start; }
    #cName ul li {
      margin-right: 20px; }

/**
 * Media Queries
 */
/* Mobile */
@media only screen and (max-width: 768px) {
  #cName {
    width: calc(100% - 80px);
    text-align: center; }
    #cName ul {
      display: block;
      border: solid 1px #CFD8DC;
      border-radius: 10px; }
      #cName ul li {
        padding: 10px 0;
        border-bottom: solid 1px #CFD8DC; }

  .card {
    display: block; }
    .card .img {
      max-width: 100%;
      width: 100%; }
    .card hr {
      display: none; } }
/* Tablet */
@media only screen and (min-width: 768px) {
  .animationset1 {
    animation: growIn 1.5s; }

  #rings {
    padding: 10px;
    border: solid 3px #FF5722;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spin 2s infinite; }
    #rings div {
      border: solid 30px #607D8B;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: nSpin 1s infinite; }
      #rings div div {
        animation: spin 1s infinite;
        border: 0; }
        #rings div div div {
          animation: nSpin 2s infinite; }
    #rings #cImg {
      border: solid 5px #03A9F4; }

  #cName {
    transform: scale(0);
    animation: growIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards; }
    #cName ul {
      justify-content: center;
      opacity: 0;
      transform: scale(0);
      animation: growIn 1s, appear 2s;
      animation-delay: 1.5s, 2s;
      animation-fill-mode: forwards; }

  section {
    max-width: 768px; }

  .card div {
    width: 50%; }
  .card hr {
    width: 95%; } }
/* Laptop */
@media only screen and (min-width: 1224px) {
  header {
    padding: 70px 0;
    display: flex; }
    header div {
      margin: auto;
      align-items: flex-start;
      display: flex; }

  #cName {
    text-align: left; }
    #cName ul {
      justify-content: flex-start; }

  section {
    max-width: 1224px; }

  .card .calligSpaceFill, .card .calligSpaceFillFlip {
    display: block; } }
