/**
 * Material Design Styles
 * by Google
 */

/* Colour Pallette */

$blueGreyLight: #CFD8DC;
$blueGreyMed: #607D8B;
$blueGreyDarkPop: #374349;
$blueGreyDark: #263238;
$lightBlue1: #80D8FF;
$lightBlue2: #40C4FF;
$lightBlue3: #03A9F4;
$lightBlue4: #00B0FF;
$lightBlue5: #01579B;
$darkOrange1: #FFCCBC;
$darkOrange2: #FF8A65;
$darkOrange3: #FF5722;
$darkOrange4: #E64A19;
$darkOrange5: #BF360C;
$darkGrey: #212121;
$invis: rgba(0, 0, 0, 0);