@import '../../common.scss';
[component='card'] {
  @extend .componentShadow;
  border-radius: 2px;
  line-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  .imgBox {
    max-width: 50%;
    margin: 0;
    padding: 0;
    display: none; // flex in media query
    align-content: center;
    justify-content: center;
    img {
      max-width: 100%; // height: 100%;
      object-fit: cover;
      position: relative;
      align-self: center;
    }
  }
  >div {
    width: calc(100% - 50px); // 100% - 2 * padding;
    line-height: 1.5;
    display: block;
    padding: 25px;
    margin: auto;
  }
}

@media only screen and (min-width: $width-tablet) {
  [component='card'] {
    flex-direction: row;
    .imgBox {
      display: flex;
    }
  }
}